@media only screen and (max-width: 300px) {
  body {
    background-color: red;
    font: 12px arial, sans-serif;
  }
  #container{

  }
  #small {

  }
  #medium, #large {


  }
}


@media only screen and (min-width: 301px) and (max-width: 768px) {
  body {
    background-color: green;
    font: 12px arial, sans-serif;
  }
  #medium {
    width: 30%;
    float: right;
  }
  #small {
    float:left;
    width: 60%
  }
  #large {

  }

}

@media only screen and (min-width: 768px) {
  body {
    background-color: blue;
    font: 20px "URW Gothic L", Samanata;
  }
  #container{margin:auto;
  width: 80%;
  }
  #small,#medium,#large{
    display:inline-block;
    max-width: 30%;
    float: left;
;
  }
}


