@media only screen and (vw max: 300px) {
  body {;
    background-color: red
  }
  #small {
    position: relative
  }
  #medium, #large {
    visibility:hidden;
    position: absolute;
  }
  font: 12px arial, sans-serif
}

@media only screen and (vw min: 300px) and (vw max: 768px) {
  body {
    background-color: green;
  }
  #small, #large {
    visibility:hidden;
    position: absolute;
  }
  #small {
    width: 2/3
  }
  #large {
    width: 100%
  }
  #medium {
    position: relative;
    width: 1/3;
  }
  font: 16px "Tibetan Machine Uni", Serif
}

@media only screen and (vw min: 768px) {
  body {
    background-color: blue;
  }
  div {
    display: inline-block;

    #small, #medium {
      visibility:hidden;
      position: absolute;
    }

    #large {
      position: relative
    }

    font: 20px "URW Gothic L", Samanata
  }
}

